body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  th, td {
    border: 1px solid #ff0c51;
    text-align: left;
    padding: 10px;
  }
  th {
    background-color: #746d6d;
    color: #333;
  }
  tr:nth-child(even) {
    background-color: #ff2626;
  }
  tr:hover {
    background-color: #158c9c;
  }