body {
    background: linear-gradient(13deg, #ff9a9e, #fad0c4);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: 20px;
    background: rgb(225, 218, 218);
}

th {
    background-color: #a359cf;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
}

td {
    padding: 10px;
    font-size: 15px;
}
